################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assets/Brackeys
/Assets/Cartoon_Texture_Pack
/obj/Debug
/Temp
/Logs
/Library
